* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(212, 122, 254);
}

#root {
  width: 96%;
  margin: 2% auto 2%;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
}

.navbar h1 {
  font-size: 2.5rem;
}

.navbar ul li {
  display: flex;
  list-style: none;
  height: 20px;
  align-items: center;
}

.quote,
.home {
  width: 50px;
}

.quote {
  display: flex;
  justify-content: flex-end;
}

.cal {
  border-right: solid grey;
  border-left: solid grey;
  width: 90px;
}

.cal a {
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbar ul li a {
  color: black;
  text-align: left;
  font-weight: 700;
}

.cal-container {
  height: 80vh;
  width: 60%;
  border-radius: 10px;
}

table {
  background-color: #d4d4d4;
  table-layout: fixed;
}

#display {
  background-color: #858694;
  color: white;
  text-align: right;
  padding-right: 2px;
  font-size: 20px;
  height: 55px;
}

.orange {
  background-color: #f5913e;
}

td {
  background-color: #e0e0e0;
  text-align: center;
}

@media screen and (max-width: 425px) {
  .navbar {
    flex-direction: column;
    order: 5;
  }

  .navbar h1 {
    order: 5;
  }

  .cal-container {
    width: 98%;
    margin: 0 auto;
  }
}
